*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Noto Sans Lao', sans-serif;
    background-color: #f7F7F7;
}
/*============================================================header section starts========================================================*/
header{
    height: 60px;
    background-color: #f7b947;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0px;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}
.main-nav{
    list-style: none;
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 5px 0px;
    transition-duration: 0.3s;
    
}
ul li a{
    text-decoration: none;
    color: #f7F7F7;
    font-size: 18px;
}
ul li a:hover{
    color: rgba(0, 0, 0, 0.3);
}
.logo{
    width: 30%;
}
.logo img{
    display: flex;
    align-items: center;
    height: auto;
    width: 40%;
    border-radius: 50%;
    margin-left: 100px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.logo img:hover{
    filter: brightness(80%);
}

.btn-login{
    list-style: none;
    border: 1px solid #f7f7f7;
    border-radius: 50px;
    padding: 2px 5px;
    height: 40px;
    width: 150px;
    background-color: #fa8128;
    font-family: 'Noto Sans Lao', sans-serif;
}
.btn-login:hover{
    background-color: #f7b947;
}
.btn-login a{
   text-decoration: none;
   color: #f7f7f7;
   font-size: 18px;
}
.btn-login a:hover{
    color: rgba(0, 0, 0, 0.3);
    transition-duration: 0.5s;
}
.btn-login i{
    font-size: 20px;
    padding-right: 10px;
    color: #f7f7f7;
}
    /*----------------------Tablet-----------------*/
@media (max-width: 768px) and (min-width: 481px) {
    header{
        height: auto;
    }
    ul{
        margin-right: 30px;
    }
    .main-nav{
        padding: 5px 10px;
    }
    ul li a{
        font-size: 14px;
    }
    .logo img{
        height: auto;
        width: 80%;
        margin-left: 30px;
    }
    .btn-login{
        height: 30px;
        width: 90px;
    }
    .btn-login a{
       font-size: 14px;
    }
    .btn-login i{
        font-size: 14px;
        padding-right: 2px;
    }
}
    /*----------------------Smartphone-----------------*/
@media (max-width: 480px) and (min-width: 320px) {
    header{
        height: auto;
        background-color: #f7b947;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    ul li a{
        font-size: 14px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .logo img{
        height: auto;
        width: 40%;
        border-radius: 50%;
        margin-left: 0px;
        margin-top: 5px;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    .btn-login{
        border-radius: 50px;
        margin-left: 20%;
        padding: 0px;
        height: 30px;
        width: 30px;
    }
    .btn-login #user{
        display: none;
    }
    .btn-login i{
        text-align: center;
        font-size: 18px;
        padding-right: 0px;
        color: #f7f7f7;
    }
}
/*========================================================================header section ends=============================================================*/
/*========================================================================Menu01 section starts=============================================================*/
.menu-container{
    margin: 100px 0px;
    padding-bottom: 10px;
}
.main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.img-box img{
   height: auto;
   width: 50%;
   object-fit: cover;
   margin: 20px 0px;
   border-radius: 20px;
}  
.img-box img:hover{
   transform: scale(1.1,1.1);
   transition-duration: 0.8s;
} 
.heading{
    margin: 10px 200px 10px 200px;
  
}
.heading a{
    text-decoration: none;
}
.heading h2{
    margin: 5px 0px 20px 0px;
}
.heading p{
    text-align: justify;
}
iframe{
    height: 70vh;
    width: 60%;
    margin-bottom: 20px;
}
.content{
    margin: 10px 20%;
}
.ingredient ol{
    margin-left: 100px;
}
.ingredient li{
    margin: 10px 0px;
}
.step ol{
    margin-left: 100px;
}
.step li{
    margin: 10px 0px;
}
 /*----------------------Tablet-----------------*/
 @media (max-width: 768px) and (min-width: 481px) {
    .menu-container{
        margin: 80px 0px;
    }
    .img-box img{
        height: auto;
     
        object-fit: cover;
        margin: 20px 0px;
        border-radius: 20px;
    }
    .heading{
        margin: 10px 50px 10px 50px;
    }
    .heading a{
        font-size: 14px;
    }
    .heading h2{
        font-size: 18px;
    }
    .heading p{
        font-size: 14px;
    }
    iframe{
        height: 50vh;
        width: 80%;
        margin-bottom: 20px;
    }
    .content{
        margin: 10px 50px;
        font-size: 14px;
    }
    .ingredient li{
        margin: 5px 0px;
    }
 }
         /*----------------------Smartphone-----------------*/
@media (max-width: 480px) and (min-width: 320px) {
    .menu-container{
        margin: 80px 0px 20px 0px;
    }
    .img-box img{
        height: auto;
        object-fit: cover;
        margin: 15px 0px;
        border-radius: 20px;
    }
    .heading{
        margin: 10px 5% 10px 5%;
    }
    .heading a{
        font-size: 12px;
    }
    .heading h2{
        font-size: 18px;
    }
    .heading p{
        font-size: 14px;
    }
    iframe{
        height: 25vh;
        width: 80%;
        margin-bottom: 10px;
    }
    .content{
        margin: 0px;
        font-size: 14px;
    }
    .ingredient h3{
        margin-left: 10%;
    }
    .ingredient ol{
        margin: 0 15%;
    }
    .ingredient li{
        margin: 5px 0px;
    }
    .step h3{
        margin-left: 10%;
    }
    .step ol{
        margin: 0 5% 0 15%;
    }
    .step li{
        margin: 5px 0px;
    }
}
/*========================================================================Menu01 section ends=============================================================*/

/*=========================================================================Footer Starts=====================================================================*/
footer{
    background-color: #f7b947;
    width: auto;
    height: auto;
}
             /*Contact-icon starts*/
#contact-icon{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #000;
    text-align: center;
}
#contact-icon i{
    background-color: #fa8128;
    padding: 12px;
    font-size: 15px;
    color: #f7f7f7;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#contact-icon i:hover{
    background-color: rgba(0, 0, 0, 0.3);
    transition-duration: 0.3s;
}
#contact-icon p:hover{
    color: rgba(0, 0, 0, 0.3);
}
             /*Contact-icon ends*/
             /*Social-icon starts*/
#social-icon{
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}
#social-icon i{
    color: #f7f7f7;
    font-size: 40px;
    margin: 0px 25px;
}
#social-icon i:hover{
    color: #fa8128;
    transform: scale(1.2,1.2);
    transition-duration: 0.2s;
}

             /*Social-icon ends*/
             /*Copyright2022 starts*/
#copyright{
    text-align: center;
    font-size: 14px;
    padding: 15px;
}
             /*Copyright2022 ends*/

 /*----------------------Tablet-----------------*/
 @media (max-width: 768px) and (min-width: 481px){
    #contact-icon{
        font-size: 12px;
    }
    #contact-icon i{
        font-size: 12px;
    }
    #social-icon i{
        font-size: 30px;
    }
    #copyright{
        font-size: 12px;
    }
 }
         /*----------------------Smartphone-----------------*/
@media (max-width: 480px) and (min-width: 320px) {
    #contact-icon{
        font-size: 10px;
    }
    #contact-icon i{
        font-size: 10px;
    }
    #social-icon{
        margin-top: 25px;
        margin-bottom: 10px;
    }
    #social-icon i{
        font-size: 30px;
        margin: 0px 10px;
    }
    #copyright{
        font-size: 10px;
        padding: 5px;
    }
}
/*=========================================================================Footer ends=====================================================================*/
             