*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Noto Sans Lao', sans-serif;
    
}
/*============================================================header section starts========================================================*/
header{
    height: 60px;
    background-color: #f7b947;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0px;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}
.main-nav{
    list-style: none;
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 5px 0px;
    transition-duration: 0.3s;
    
}
ul li a{
    text-decoration: none;
    color: #f7F7F7;
    font-size: 18px;
}
ul li a:hover{
    color: rgba(0, 0, 0, 0.3);
}
.logo{
    width: 30%;
}
.logo img{
    display: flex;
    align-items: center;
    height: auto;
    width: 40%;
    border-radius: 50%;
    margin-left: 100px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.logo img:hover{
    filter: brightness(80%);
}

.btn-login{
    list-style: none;
    border: 1px solid #f7f7f7;
    border-radius: 50px;
    padding: 2px 5px;
    height: 40px;
    width: 150px;
    background-color: #fa8128;
    font-family: 'Noto Sans Lao', sans-serif;
}
.btn-login:hover{
    background-color: #f7b947;
}
.btn-login a{
   text-decoration: none;
   color: #f7f7f7;
   font-size: 18px;
}
.btn-login a:hover{
    color: rgba(0, 0, 0, 0.3);
    transition-duration: 0.5s;
}
.btn-login i{
    font-size: 20px;
    padding-right: 10px;
    color: #f7f7f7;
}
    /*----------------------Tablet-----------------*/
@media (max-width: 768px) and (min-width: 481px) {
    header{
        height: auto;
    }
    ul{
        margin-right: 30px;
    }
    .main-nav{
        padding: 5px 10px;
    }
    ul li a{
        font-size: 14px;
    }
    .logo img{
        height: auto;
        width: 80%;
        margin-left: 30px;
    }
    .btn-login{
        height: 30px;
        width: 90px;
    }
    .btn-login a{
       font-size: 14px;
    }
    .btn-login i{
        font-size: 14px;
        padding-right: 2px;
    }
}
/*========================================================================header section ends=============================================================*/
/*========================================================================Login starts=============================================================*/
.form-box{
   display: flex;
   justify-content: center;
   margin: 80px 0px;
}
form{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    text-align: center;
    height: auto;
    width: 50%;
    padding-bottom: 30px;
}
form a{
    text-decoration: none;
    font-family: 'Noto Sans Lao', sans-serif;
}
.title{
    margin: 50px 0px;
    font-size: 35px;
}
input{
    width: 70%;
    height: 8vh;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: 'Noto Sans Lao', sans-serif;
    font-size: 25px;
    padding: 0px 10px;
    outline: none;
}
input[type="text"]:focus{
    width: 75%;
    border: 1px solid #f7b947;
    transition-duration: 0.3s;
}
.btn-next button{
    width: 70%;
    height: 8vh;
    border-radius: 10px;
    border: 2px solid #f7b947;
    background-color: #f7b947;
    margin-top: 30px;
    cursor: pointer;
}
.btn-next button:hover{
    background-color: #fa8128;
    width: 75%;
    transition-duration: 0.3s;
}
.btn-next a{
    font-size: 25px;
    color: #fff;
}
.register{
    margin: 10px;
    position: relative;
}
.register a{
   font-size: 18px;
   position: absolute;
   right: 15%;
   color: rgba(0, 0, 0, 0.9);
   text-decoration: underline;
}
.or{
    display: flex;
    align-items: center;
    margin: 50px 15%;
}
.or p{
    font-size: 18px;
    margin: 0px 1%;
}
.line{
    background-color: #fa8128;
    width: 100%;
    height: 0.3vh;
}
.link{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-link{
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px 0px;
    height: auto;
    width: 70%;
    position: relative;
}
.social-link:hover{
    width: 75%;
    background-color: rgba(0, 0, 0, 0.03);
    border: 3px solid #f7b947;
    transition-duration: 0.3s;
}
.social-link a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-link p{
    color: #000;
    font-size: 18px;
}
.social-link img{
    width: 7%;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: 2%;
}
 /*----------------------Tablet-----------------*/
 @media (max-width: 768px) and (min-width: 481px){
    form{
        width: 80%;
        padding-bottom: 20px;
    }
    .title{
        margin: 40px 0px;
        font-size: 28px;
    }
    input{
        height: 6vh;
        border-radius: 10px;
        font-size: 20px;
    }
    .btn-next button{
        height: 6vh;
        margin-top: 20px;
    }
    .btn-next a{
        font-size: 20px;
    }
    .register{
        margin: 5px;
    }
    .register a{
        font-size: 16px;
    }
    .or p{
        font-size: 16px;
    }
    .line{
        height: 0.2vh;
    }
    .link{
        margin: 10px 0px;
    }
    .social-link{
        margin: 5px 0px;
        padding: 5px 0px;
    }
    .social-link p{
        font-size: 16px;
    }
    .social-link img{
        width: 9%;
    }
 }
/*========================================================================Login ends=============================================================*/

             /*=========================================================================Footer Starts=====================================================================*/
footer{
    background-color: #f7b947;
    width: auto;
    height: auto;
}
             /*Contact-icon starts*/
#contact-icon{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #000;
    text-align: center;
}
#contact-icon i{
    background-color: #fa8128;
    padding: 12px;
    font-size: 15px;
    color: #f7f7f7;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#contact-icon i:hover{
    background-color: rgba(0, 0, 0, 0.3);
    transition-duration: 0.3s;
}
#contact-icon p:hover{
    color: rgba(0, 0, 0, 0.3);
}
             /*Contact-icon ends*/
             /*Social-icon starts*/
#social-icon{
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}
#social-icon i{
    color: #f7f7f7;
    font-size: 40px;
    margin: 0px 25px;
}
#social-icon i:hover{
    color: #fa8128;
    transform: scale(1.2,1.2);
    transition-duration: 0.2s;
}

             /*Social-icon ends*/
             /*Copyright2022 starts*/
#copyright{
    text-align: center;
    font-size: 14px;
    padding: 15px;
}
             /*Copyright2022 ends*/

 /*----------------------Tablet-----------------*/
 @media (max-width: 768px) and (min-width: 481px){
    #contact-icon{
        font-size: 12px;
    }
    #contact-icon i{
        font-size: 12px;
    }
    #social-icon i{
        font-size: 30px;
    }
    #copyright{
        font-size: 12px;
    }
 }
/*=========================================================================Footer ends=====================================================================*/