*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Noto Sans Lao', sans-serif;
    
}
/*============================================================header section starts========================================================*/

header{
    height: auto;
    background-color: #f7b947;
    width: 100%;
    display: grid;
    grid-template-columns: 20fr 80fr;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0px;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}
.main-nav{
    list-style: none;
    width: 80%;
    margin: 5px;
    padding: 5px 0px;
    transition-duration: 0.3s;
    
}
ul li a{
    text-decoration: none;
    color: #f7F7F7;
    font-size: 18px;
}
ul li a:hover{
    color: rgba(0, 0, 0, 0.3);
}
.logo img{
    display: flex;
    align-items: center;
    height: auto;
    width: 25%;
    border-radius: 50%;
    margin-left: 100px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.logo img:hover{
    filter: brightness(80%);
}

.btn-login{
    list-style: none;
    border: 1px solid #f7f7f7;
    border-radius: 50px;
    padding: 4px;
    width: 60%;
    background-color: #fa8128;
    font-family: 'Noto Sans Lao', sans-serif;

}
.btn-login:hover{
    background-color: #f7b947;
}
.btn-login a{
   text-decoration: none;
   color: #f7f7f7;
   font-size: 18px;
}
.btn-login a:hover{
    color: rgba(0, 0, 0, 0.3);
    transition-duration: 0.5s;
}


/*========================================================================header section ends=============================================================*/
/*========================================================================Menu01 section starts=============================================================*/
.menu01{
    margin: 100px 200px;
    background-color: #f7F7F7;
}
.img-box img{
    height: auto;
    width: 30%;
}  
.img-box img:hover{
   transform: scale(1.2,1.2);
   transition-duration: 0.8s;
}  
.heading a{
    text-decoration: none;
}
.ingredient{
    margin: 20px 0px;
}
.ingredient ol{
    margin: 10px 0px 0px 40px;
}
.ingredient li{
    margin: 5px;
}
.step{
    margin: 20px 0px;
}
.step ol{
    margin: 10px 0px 0px 40px;
}
.step li{
    margin: 5px;
}
/*========================================================================Menu01 section ends=============================================================*/

/*=========================================================================Footer Starts=====================================================================*/
footer{
    background-color: #f7b947;
    width: 100%;
    height: auto;
}
             /*Contact-icon starts*/
#contact-icon{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #000;
    text-align: center;
}
#contact-icon i{
    background-color: #fa8128;
    padding: 12px;
    font-size: 15px;
    color: #f7f7f7;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#contact-icon i:hover{
    background-color: rgba(0, 0, 0, 0.3);
    transition-duration: 0.3s;
}
#contact-icon p:hover{
    color: rgba(0, 0, 0, 0.3);
}
             /*Contact-icon ends*/
             /*Social-icon starts*/
#social-icon{
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}
#social-icon i{
    color: #f7f7f7;
    font-size: 40px;
    margin: 0px 25px;
}
#social-icon i:hover{
    color: #fa8128;
    transform: scale(1.2,1.2);
    transition-duration: 0.2s;
}

             /*Social-icon ends*/
             /*Copyright2022 starts*/
#copyright{
    text-align: center;
    font-size: 14px;
    padding: 15px;
}
             /*Copyright2022 starts*/


/*=========================================================================Footer Starts=====================================================================*/
             